apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: dpa-instance
  namespace: openshift-adp
spec:
  backupLocations:
    - name: "{{ oadp_storage_location }}"
      velero:
        provider: aws
        default: true
        objectStorage:
          bucket: "{{ oadp_bucket_name }}"
          prefix: "{{ oadp_backup_prefix }}"
        config:
          region: "{{ oadp_aws_region }}"
          profile: "default"
        credential:
          key: cloud
          name: cloud-credentials
  snapshotLocations:
    - velero:
        provider: aws
        config:
          region: "{{ oadp_aws_region }}"
          profile: "default"
        credential:
          key: cloud
          name: cloud-credentials
  configuration:
    nodeAgent:
      enable: true
      uploaderType: kopia
    velero:
      defaultPlugins:
        - openshift
        - aws
        - csi
        - hypershift
      resourceTimeout: 2h
