# Rendered from vars.yaml (lab_network_prefix + ip_list) by setup_bm_host.yaml.
[local]


[helper]
{{ lab_network_prefix }}.{{ ip_list.helper_server }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[mirror_registry]
{{ lab_network_prefix }}.{{ ip_list.mirror_registry }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[minio]
{{ lab_network_prefix }}.{{ ip_list.minio }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[hub_masters]
master1.hub.mylab.com ansible_ssh_host={{ lab_network_prefix }}.{{ ip_list.master1 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_user=core
master2.hub.mylab.com ansible_ssh_host={{ lab_network_prefix }}.{{ ip_list.master2 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_user=core
master3.hub.mylab.com ansible_ssh_host={{ lab_network_prefix }}.{{ ip_list.master3 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_user=core

[hub_workers]
worker1.hub.mylab.com ansible_ssh_host={{ lab_network_prefix }}.{{ ip_list.worker1 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_user=core
worker2.hub.mylab.com ansible_ssh_host={{ lab_network_prefix }}.{{ ip_list.worker2 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_user=core
worker3.hub.mylab.com ansible_ssh_host={{ lab_network_prefix }}.{{ ip_list.worker3 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no' ansible_user=core

[ceph]
{{ lab_network_prefix }}.{{ ip_list.ceph1 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{{ lab_network_prefix }}.{{ ip_list.ceph2 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{{ lab_network_prefix }}.{{ ip_list.ceph3 }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[ceph_admin]
{{ lab_network_prefix }}.{{ ip_list.cephadmin }} ansible_ssh_private_key_file=~/.ssh/lab_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'