default-lease-time 3600;
max-lease-time 86400;
authoritative;
subnet {{ lab_network_prefix }}.0  netmask {{ lab_network_netmask }} {
range {{ lab_network_prefix }}.100 {{ lab_network_prefix }}.200;
option routers {{ lab_network_prefix }}.1;
option subnet-mask {{ lab_network_netmask }};
option domain-name-servers {{ ip_list.helper }} ;
}
