kind: Secret
apiVersion: v1
metadata:
  name: pullsecret-{{ oadp_bminfra_namespace }}
  namespace: "{{ oadp_bminfra_namespace }}"
data:
  '.dockerconfigjson': '{{ pull_secret | b64encode }}'
type: 'kubernetes.io/dockerconfigjson'
