$TTL 1D
@	IN SOA	helper.{{ hub_domain }}. root.{{hub_domain }}. (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
		NS	helper.{{ hub_domain }}.
worker1		A	{{ lab_network_prefix }}.{{ ip_list.c2worker1 }}
worker2		A	{{ lab_network_prefix }}.{{ ip_list.c2worker2 }}
worker3		A	{{ lab_network_prefix }}.{{ ip_list.c2worker3 }}
api		A	{{ lab_network_prefix }}.{{ hub_metallb_pool_start | int + 1 }}
api-int		A	{{ lab_network_prefix }}.{{ hub_metallb_pool_start | int + 1 }}
*.apps		A	{{ lab_network_prefix }}.{{ ip_list.c2lb }}

