$TTL 1D
@	IN SOA	helper.{{ hub2_disconnected_domain }}. root.{{hub2_disconnected_domain }}. (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
		NS	helper.{{ hub2_disconnected_domain }}.
helper		A	{{ lab_network_prefix }}.{{ ip_list.helper_server}}
bootstrap	A	{{ lab_network_prefix }}.{{ ip_list.hub2d_bootstrap }}
master1		A	{{ lab_network_prefix }}.{{ ip_list.hub2d_master1}}
master2		A	{{ lab_network_prefix }}.{{ ip_list.hub2d_master2}}
master3		A	{{ lab_network_prefix }}.{{ ip_list.hub2d_master3}}
worker1		A	{{ lab_network_prefix }}.{{ ip_list.hub2d_worker1}}
worker2		A	{{ lab_network_prefix }}.{{ ip_list.hub2d_worker2}}
worker3		A	{{ lab_network_prefix }}.{{ ip_list.hub2d_worker3}}
api		A	{{ lab_network_prefix }}.{{ ip_list.hub2dlb}}
api-int		A	{{ lab_network_prefix }}.{{ ip_list.hub2dlb}}
*.apps		A	{{ lab_network_prefix }}.{{ ip_list.hub2dlb}}
