apiVersion: velero.io/v1
kind: Restore
metadata:
  name: "{{ hcp_cluster_name }}-restore"
  namespace: openshift-adp
spec:
  backupName: "{{ hcp_cluster_name }}-backup"
  restorePVs: true
  existingResourcePolicy: update
  excludedResources:
    - nodes
    - events
    - events.events.k8s.io
    - backups.velero.io
    - restores.velero.io
    - resticrepositories.velero.io
