<network>
  <name>default</name>
  <uuid>467059b1-29f1-4bfc-bb9a-1b5ae26d244c</uuid>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr0' stp='on' delay='0'/>
  <mac address='52:54:00:c7:82:0c'/>
  <dns>
    <forwarder domain='{{ hub_domain }}' addr='{{ lab_network_prefix }}.{{ ip_list.helper_server}}'/>
    <forwarder domain='{{ hosted_domain }}' addr='{{ lab_network_prefix }}.{{ ip_list.helper_server }}'/>
    <forwarder domain='{{ hosted_domain2 }}' addr='{{ lab_network_prefix }}.{{ ip_list.helper_server }}'/>
    <forwarder domain='{{ hub2_domain }}' addr='{{ lab_network_prefix }}.{{ ip_list.helper_server }}'/>
    <forwarder domain='{{ lab_network_reverse_zone }}' addr='{{ lab_network_prefix }}.{{ ip_list.helper_server }}'/>
  </dns>
  <ip address='{{ lab_network_prefix }}.1' netmask='{{ lab_network_netmask }}'>
    <dhcp>
     <range start="{{ lab_network_prefix }}.201" end="{{ lab_network_prefix }}.249"/>
{# DHCP host FQDNs must match roles/setup-dns/templates/named-reverse.hub.j2 PTRs #}
{% macro dhcp_fqdn(key) -%}
{%- if key == 'helper_server' -%}
helper.{{ hub_domain }}
{%- elif key == 'bootstrap' -%}
bootstrap.{{ hub_domain }}
{%- elif key == 'hub2_bootstrap' -%}
bootstrap.{{ hub2_domain }}
{%- elif key.startswith('hub2_') -%}
{{ key | regex_replace('^hub2_', '') }}.{{ hub2_domain }}
{%- elif key.startswith('c1worker') -%}
{{ key }}.{{ hosted_domain }}
{%- elif key.startswith('c2worker') -%}
{{ key }}.{{ hosted_domain2 }}
{%- elif key == 'hublb' -%}
api.{{ hub_domain }}
{%- elif key == 'hub2lb' -%}
api.{{ hub2_domain }}
{%- else -%}
{{ key }}.{{ hub_domain }}
{%- endif -%}
{%- endmacro %}
     {% for key, value in ip_list.items() %}
     <host mac='52:54:00:e2:54:{{ value }}' name='{{ dhcp_fqdn(key) }}' ip='{{ lab_network_prefix }}.{{ value }}'/>
     {% endfor %}
     <bootp file='pxelinux.0' server='{{ lab_network_prefix }}.{{ ip_list.helper_server }}'/>
   </dhcp>
  </ip>
</network>
