apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  namespace: metallb-system
  name: hcp-ip-pool
spec:
  addresses:
  - {{ lab_network_prefix }}.{{ metallb_pool_start }}-{{ lab_network_prefix }}.{{ metallb_pool_end }}
  autoAssign: true
  avoidBuggyIPs: true
