# The namespace client, rendered by setup-clab-fabric.
# Read by scripts/udn-web-demo.sh --netns and udn-vrf-isolation.sh --netns.
#
#   vm-name|management-ip|namespace[,namespace...]
#
{{ udn_nsclient_vm_name }}|{{ lab_network_prefix }}.{{ ip_list[udn_nsclient_vm_name] }}|{{ udn_bgp_tenants | map(attribute='name') | select('in', udn_client_segments.keys() | list) | join(',') }}
